<h2><a href="/"><i class="fas fa-code"></i> Hire Community</a></h2>
<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/commercials">Commercials</a>
        </li>
        <li>
            <a href="/new-commercial">Add Commercial</a>
        </li>
    </ul>
</nav>